<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{admin.manage.enrollments.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/mystyles.css}">
<link rel="stylesheet" th:href="@{/w3.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/myscripts.js}"></script>
</head>

<body>
	<div th:insert="~{layout :: header}"></div>
	<div th:insert="~{layout :: admin-sidenav}"></div>
	<div class="container">
		<h2 th:text="#{admin.manage.enrollments.title}"></h2>
		<div>
			<a th:href="@{/admin/manage_enrollments/add/} +${id}">Add New Enrollment</a>
		</div>
		<br>
		<form th:action="@{/admin/manage_enrollments/search/}+ ${id}" method="POST"
			th:object="${query}">
			<fieldset>
				<label>Semester</label>&nbsp;<select th:field="*{semesterId}">
					<option value="-1">Search All</option>
					<option th:each="sl : ${semesters}" th:value="${sl.id}"
						th:text="${sl.name}"></option>
				</select>
			</fieldset>
			<br>
			<p style="font-weight: bold;">OR</p>
			<fieldset>
				<label>Module:</label>&nbsp;<select th:field="*{moduleId}">
					<option value="-1">Search All</option>
					<option th:each="ml : ${modules}" th:value="${ml.id}"
						th:text="${ml.modulename}"></option>
				</select>
			</fieldset>
			<fieldset>
				<button type="submit">Search</button>
			</fieldset>
		</form>
		<br>
		<table class="table">
			<tr>
				<th>Student Name</th>
				<th>Semester</th>
				<th>Module Code</th>
				<th>Module Name</th>
				<th>Grade</th>
				<th>Enrollment Status</th>
				<th>Action</th>
			</tr>
			<th:block th:each="sr : ${searchResult}">
				<tr>
					<td th:text="${sr.student.firstName} + ' '+ ${sr.student.lastName}"></td>
					<td th:text="${sr.semester.name}"></td>
					<td th:text="${sr.course.module.modulecode}"></td>
					<td th:text="${sr.course.module.modulename}"></td>
					<td th:text="${sr.grade}"></td>
					<td th:text="${sr.enrollmentStatus}"></td>
					<td><a th:href="@{/admin/manage_enrollments/edit/} + ${sr.id}">Edit</a></td>
					<td><a th:href="@{/admin/manage_enrollments/delete/} + ${sr.id}">Delete</a></td>
				</tr>
			</th:block>
		</table>
	</div>
	<div th:insert="~{layout:: whitespace}"></div>
	<div th:insert="~{layout:: footer}"></div>
</body>

</html>