<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{admin.manage.courses.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/mystyles.css}">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div th:insert="~{layout :: header}"></div>
    <div th:insert="~{layout :: admin-sidenav}"></div>
    <div class="container">
        <h2>Edit Course Details</h2>
        <form th:object="${course}" th:action="@{/admin/manage_courses/edit/save}" method="POST">
            <input type="hidden" th:field="*{id}" />
            <fieldset>
                <div class="form-group form-container">
                    <label>Course Size:</label>&nbsp;
                    <input type="text" size="25" th:field="*{size}">
					<p th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></p>
                </div>
                <div class="form-group">
                        <label>Module Department:</label>&nbsp;
					<select class="form-control" th:field="*{department}">
        			<option th:each="dp : ${departments}"
                	th:value="${dp.id}"
                	th:text="${dp.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                        <label>Course Faculty:</label>&nbsp;
					<select class="form-control" th:field="*{faculty}">
        			<option th:each="f : ${faculties}"
                	th:value="${f.id}"
                	th:text="${f.firstName} + ' ' + ${f.lastName}"></option>
                        </select>
                </div>
                <div class="form-group">
                        <label>Course Semester:</label>&nbsp;
					<select class="form-control" th:field="*{semester}">
        			<option th:each="s : ${semesters}"
                	th:value="${s.id}"
                	th:text="${s.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                        <label>Module Name:</label>&nbsp;
					<select class="form-control" th:field="*{module}">
        			<option th:each="m : ${modules}"
                	th:value="${m.id}"
                	th:text="${m.modulename}"></option>
                    </select>
                </div>
            </fieldset>
            <br>
            <button type="submit">Save</button>
        </form>
        <span th:if="${success}" th:text="${success}"></span>
        <span th:if="${Fail}" th:text="${Fail}"></span>
    </div>
    <div th:insert="~{layout:: whitespace}"></div>
    <div th:insert="~{layout:: footer}"></div>
</body>

</html>