<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{faculty.course.list.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/mystyles.css}">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div th:insert="~{layout :: header}"></div>
    <div th:insert="~{layout :: faculty-sidenav}"></div>
    <div class="container">
        <h2 th:text="${selectedCourse.module.modulecode} + '    ' + ${selectedCourse.module.modulename}"></h2>
        <h4>List of Students</h4>
        <table class="table">
            <tr>
                <th> Student ID </th>
                <th> Student Name </th>
                <th> Student Major </th>
                <th></th>
            </tr>
            <th:block th:each="student : ${students}">
                <tr th:object="${student}">
                    <td th:text="*{username}"></td>
                    <td><a th:href="@{/faculty/view_student_particulars/} + *{username}" th:text="*{firstName} + ' ' + *{lastName}"></a></td>
                    <td th:text="*{major}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:insert="~{layout:: whitespace}"></div>
    <div th:insert="~{layout :: footer}"></div>
</body>

</html>