<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{faculty.student.list.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/mystyles.css}">
<link rel="stylesheet" th:href="@{/w3.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/myscripts.js}"></script>
</head>

<body>
	<div th:insert="~{layout :: header}"></div>
	<div th:insert="~{layout :: faculty-sidenav}"></div>
	<div class="container">
		<h2 th:text="#{faculty.student.list.title}"></h2>
		<form th:action="@{/faculty/student_list}" method="POST"
			th:object="${semester}">
			<table class="table" style="width: auto;">
				<tr>
					<td>Select Semester:</td>
					<td><select th:field="*{name}">
							<option value="">--</option>
							<option th:each="sem : ${semesters}" th:value="${sem.name}"
								th:utext="${sem.name}" />
					</select></td>
				</tr>
				<tr>
					<td><input name="submit" type="submit"
						value="Student List For Selected Semester" /></td>
				</tr>
			</table>
		</form>
		<table class="table">
			<tr>
				<th>Student ID</th>
				<th>Name</th>
				<th>Major</th>
				<th>Courses</th>
			</tr>
			<th:block th:each="studentAndCourse : ${studentAndCourses}">
				<tr th:object="${studentAndCourse}">
					<td th:text="*{username}"></td>
					<td><a
						th:href="@{/faculty/view_student_particulars/} + *{username}"
						th:text="*{firstName} + ' ' + *{lastName}"></a></td>
					<td th:text="*{major}"></td>
					<td th:text="*{courseInfo}"></td>
				</tr>
			</th:block>
		</table>
	</div>
	<div>
		<table th:style="'width:5%;margin-left:auto;margin-right:auto;'">
			<tr>
				<td th:each="Integer:${pages}"><a
					th:href="@{/faculty/student_list?val=}+${Integer}"
					th:text="${Integer+1}" th:style="'font:bold;'"></a></td>
			</tr>
		</table>
	</div>
	<div th:insert="~{layout:: whitespace}"></div>
	<div th:insert="~{layout :: footer}"></div>
</body>

</html>