<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{faculty.master.list.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/mystyles.css}">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div th:insert="~{layout :: header}"></div>
    <div th:insert="~{layout :: faculty-sidenav}"></div>
    <div class="container">
        <h2 th:text="#{faculty.master.list.title}"></h2>
        <form th:action="@{/faculty/master_list/search_results}" method="POST">
            <div class="form-group form-container">
                <label>Search:</label>
                <input id="searchBox" type="text" th:name="searchStr" /> <input type="submit" value="Search"
                    class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="container">
        <a th:href="@{/faculty/master_list_export?val=}+${searchStr}">Export Master List</a>
        <p th:text="${export}"></p>
        <table class="table">
            <tr>
                <th> Semester </th>
                <th> Student </th>
                <th> Module Code </th>
                <th> Module Name </th>
                <th> Enrollment Status </th>
                <th> Grade </th>
            </tr>            
            <th:block th:each="enrollment : ${enrollments}">
                <tr th:object="${enrollment}">
                    <td th:text="*{semester.name}"></td>
                    <td th:text="*{student.firstName} + ' ' + *{student.lastName}"></td>
                    <td th:text="*{course.module.modulecode}"></td>
                    <td th:text="*{course.module.modulename}"></td>
                    <td th:text="*{enrollmentStatus}"></td>
                    <td th:text="*{grade}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div>
		<table th:style="'width:18%;margin-left:auto;margin-right:auto;'">
			<tr>
				<td th:each="Integer:${pages}"><a th:href="@{/faculty/master_list?val=}+${Integer}"
						th:text="${Integer+1}"></a>
				</td>
			</tr>
		</table>
	</div>
    <div th:insert="~{layout:: whitespace}"></div>
    <div th:insert="~{layout :: footer}"></div>
</body>

</html>