<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{faculty.main.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div class="w3-css">
        <h1 th:text="#{faculty.main.title}"></h1>
        <h2 th:text="#{greeting.welcome} + ', ' + ${faculty.firstName} + ' ' + ${faculty.lastName} + '!'"></h2>
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/faculty/profile}">Profile</a>
        <a th:href="@{/faculty/master_list}">Master List</a>
        <a th:href="@{/faculty/course_list}">Course List</a>
        <a th:href="@{/faculty/score_cards}">Score Cards</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</body>

</html>