<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{faculty.cgpa.report.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/mystyles.css}">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div th:insert="~{layout :: header}"></div>
    <div th:insert="~{layout :: faculty-sidenav}"></div>
    <div class="container">
        <h2 th:text="#{faculty.cgpa.report.title}"></h2>
        <form th:action="@{/faculty/cgpa_report}" method="POST" th:object="${semester}">
            <table class="table" style="width: auto;">
                <tr>
                    <td>Select Semester:</td>
                    <td><select th:field="*{name}">
                            <option value="">--</option>
                            <option th:each="sem : ${semesters}" th:value="${sem.name}" th:utext="${sem.name}" />
                        </select></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="C-GPA Report For Selected Semester" /></td>
                </tr>
            </table>
        </form>
        <table class="table">
        	<tr>
        		<th> Student Username </th>
        		<th> Student First Name </th>
        		<th> Student Last Name </th>
        		<th> Student Major </th>
        		<th> Student CGPA </th>
        	</tr>
        
        
            <th:block th:each="student : ${students}">
                <tr th:object="${student}">
                    <td th:text="*{username}"></td>
                    <td th:text="*{firstName}"></td>
                    <td th:text="*{lastName}"></td>
                    <td th:text="*{major}"></td>
                    <td th:text="${#numbers.formatDecimal(student.cgpa,1,2)}"></td>	
                </tr>
            </th:block>
        </table>
    </div>
    <div th:insert="~{layout:: whitespace}"></div>
    <div th:insert="~{layout :: footer}"></div>
</body>

</html>