<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{faculty.grade.report.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/mystyles.css}">
<link rel="stylesheet" th:href="@{/w3.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/myscripts.js}"></script>
</head>

<body>
	<div th:insert="~{layout :: header}"></div>
	<div th:insert="~{layout :: faculty-sidenav}"></div>
	<div class="container">
		<h2 th:text="#{faculty.grade.report.title}"></h2>
		<form th:action="@{/faculty/grade_report}" method="POST"
			th:object="${gradeQuery}">
			<table class="table" style="width: auto;">
				<tr>
					<td>Select Semester:</td>
					<td><select th:field="*{semesterName}">
							<option value="">--</option>
							<option th:each="sem : ${semesters}" th:value="${sem.name}"
								th:utext="${sem.name}" />
					</select></td>
				</tr>
				<tr>
					<td>Select Course:</td>
					<td>
					<table>
					<tr th:each="course : ${courses}">
					<td th:style="'width:20px;'"><input type="checkbox" name="coursesChosen"
								th:value="${course.id}" /></td>
					<td><label th:text="${course.module.modulecode} + ' ' + ${course.module.modulename}"></label></td>
					</tr>
					</table>
					
				</tr>
				<tr>
					<td>Select Grade:</td>
					<td><select th:field="*{grade}">
							<option value="">--</option>
							<option th:each="gr : ${grades}" th:value="${gr}"
								th:utext="${gr}" />
					</select></td>
				</tr>
				<tr>
					<td><input name="submit" type="submit"
						value="Show Grade Report" /></td>
				</tr>
			</table>
		</form>
		<table class="table" style="width: auto;">
			<tr>
				<th>Student ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Course</th>
				<th>Grade</th>
				<th></th>
			</tr>

			<tr th:each="enrol:${studentEnrollments}">
				<td th:text="${enrol.student.username}"></td>
				<td th:text="${enrol.student.firstName}"></td>
				<td th:text="${enrol.student.lastName}"></td>
				<td th:text="${enrol.course.module.modulename}">
				<td th:text="${enrol.grade}"></td>
			</tr>

		</table>
	</div>
	<div th:insert="~{layout:: whitespace}"></div>
	<div th:insert="~{layout:: footer}"></div>
</body>

</html>