<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{student.grade.book.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/mystyles.css}">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/myscripts.js}"></script>
</head>

<body>
    <div th:insert="~{layout :: header}"></div>
    <div th:insert="~{layout :: student-sidenav}"></div>
    <div th:object="${gradeBook}" class="container">
        <form>
            <fieldset disabled>
                <table class="table">
                    <tr>
                        <th>Major:</th>
                        <td>
                            <input type="text" th:value="*{major}">
                        </td>
                    </tr>
                    <tr>
                        <th>Total Graded MCs:</th>
                        <td>
                            <input type="text" th:value="*{gradedCredits}">
                        </td>
                    </tr>
                    <tr>
                        <th>CGPA:</th>
                        <td>
                            <input type="text" th:value="*{cgpa}">
                        </td>
                    </tr>
                    <tr>
                        <th>Degree Classification:</th>
                        <td>
                            <input type="text" th:value="*{degreeClass}">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <a th:href="@{/student/gradebook_export}">Export</a>
        <p th:text="${export}"></p>
    </div>
    <div th:each="semesterGrade : ${gradeBook.semesterGrades}" class="container">
        <table class="table">
            <tr>
                <td colspan="4">
                    <h2 th:text="${semesterGrade.semesterName}"></h2>
                </td>
            </tr>
            <tr>
                <th> Course Code </th>
                <th> Course Name </th>
                <th> Modular Credits </th>
                <th> Grade </th>
            </tr>
            <th:block th:each="courseGrade : ${semesterGrade.courseGrades}">
                <tr>
                    <td th:text="${courseGrade.courseCode}"></td>
                    <td th:text="${courseGrade.courseName}"></td>
                    <td th:text="${courseGrade.courseCredits}"></td>
                    <td th:text="${courseGrade.courseGrade}"></td>
                </tr>
            </th:block>
            <tr>
                <th colspan="4" style="text-align: right;"><span
                        th:text="'Semester GPA: ' + ${#numbers.formatDecimal(semesterGrade.semesterGPA,1,2)}"></span></th>
            </tr>
        </table>
    </div>
    <div th:insert="~{layout:: whitespace}"></div>
    <div th:insert="~{layout:: footer}"></div>
</body>

</html>